@charset "UTF-8";


:root {
    --cor1: #2D3580;
    --cor2: #8663B3;
    --cor3: #ffd79156;
    --cor4: #8a661c;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body,
html {
    background-image:linear-gradient(to top, #edc279ad, var(--cor4));
    background-attachment: fixed;
    height: 100vh;
} 


main {
    height: 100vh;
    width: 100vw;

    position: absolute;
}


section#login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: rgb(0, 0, 48) url('../imagens/c1.jpeg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

section#login > div#form {
    display: block;
    padding: 10px;
    text-align: center;
}

div#form > h1 {
    margin-bottom: 0px;
    font-size: 1.8em;
}

div#form > p {
    font-size: 1em;
}


form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #edc279ad;
    box-shadow: inset 0px 0px 14px rgba(252, 220, 124, 0.626);
    border-radius: 5px;
    margin: 7px 0px;
}

div.campo > label {
    display: none;
}

div.campo > .material-symbols-outlined {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > .dig {
    background-color: #faf5e3;
    font-size: 1em;
    width: 80%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #edc279ad;
    transform: translateY(-10px);
}

div.campo > .dig:focus-within {
    background-color: rgba(255, 255, 255, 0.964);
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    font-weight: bold;
    width: 82%;
    max-width: 250px;
    height: 33px;
    margin: auto;
    margin-top: 12px;
    background-color: #d8c0604e;
    color: rgb(140, 103, 2);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.441);
}

form > input[type=submit]:hover {
    transition-duration: 0.3s;
    transform: translate(0px, 2px);
    width: 88%;
    transition-timing-function: ease;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
}

form > a.botaoe {
    display: block;
    font-size: 1em;
    font-weight: 400;
    width: 130px;
    height: 47px;
    background-color: #d8c06027;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.403);
    color: #8a651cd7; 
}

form > a.botaoe:hover {
    transition-duration: 0.2s;
    transform: translate(0px, -2px);
    transition-timing-function: ease;
    transition: width 0.3s, height 0.3s;
    width: 137px;
    height: 49px;
    cursor: pointer;
}