@charset "UTF-8";


/* Opção 2 de cores::after
    #2D3580
    #8663B3
    #DD8FB9
    #EA9EBA
    #FFD791
*/

:root {
    --cor1: #2D3580;
    --cor2: #8663B3;
    --cor3: #ffd79156;
    --cor4: #757575;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body,
html {
    background-image: linear-gradient(180deg,black, var(--cor1),var(--cor2),var(--cor3), rgba(168, 127, 4, 0.614), rgb(135, 67, 22) , rgb(15, 0, 0));
    background-attachment: fixed;
    height: 100vh;
} 


main {
    height: 100vh;
    width: 100vw;

    position: absolute;
}


section#login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
}

section#login > div#imagem {
    display: block;
    background: rgb(0, 0, 48) url('../imagens/c1.jpeg');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

section#login > div#form {
    display: block;
    padding: 10px;
    text-align: center;
}